.rodape {
    color: rgb(102, 96, 96);
    background-color: #c4bfbf;
    text-align: center;
    font-size: 0.9em;
    padding: 15x;
}

.iconeLkdin{
  top: -225px;           /*mudar de cima e baixo*/
  left: 550px;  
  max-width: 50px;   /*definir tamanhos da imagem*/
  max-height: 50px        /*fomatação de imagens com legenda*/
  border: 8px solid rgb(255, 255, 255);     /* borda*/
  box-shadow: none;              /* caixa em volta*/
  position: relative;  
  transition: all .5s;
  border: 0px solid transparent;
}
.iconeLkdin:hover{
  border:  2px solid #6fb3eb;
  border-radius: 100%;
  transition: 0.1s;
}

.iconeInsta{
  top: -225px;           /*mudar de cima e baixo*/
  left:  560px;  
  max-width: 50px;   /*definir tamanhos da imagem*/
  max-height: 50px        /*fomatação de imagens com legenda*/
  border: 8px solid rgb(255, 255, 255);     /* borda*/
  box-shadow: none;              /* caixa em volta*/
  position: relative;  
  transition: all .5s;
  border: 0px solid transparent;
}
.iconeInsta:hover{
  border:  2px solid #6fb3eb;
  border-radius: 100%;
  transition: 0.1s;
}
.iconeGit{
  top: -225px;           /*mudar de cima e baixo*/
  left:  570px;  
  max-width: 50px;   /*definir tamanhos da imagem*/
  max-height: 50px        /*fomatação de imagens com legenda*/
  border: 8px solid rgb(255, 255, 255);     /* borda*/
  box-shadow: none;              /* caixa em volta*/
  position: relative;  
  transition: all .5s;
  border: 0px solid transparent;
}
.iconeGit:hover{
  border:  2px solid #6fb3eb;
  border-radius: 100%;
  transition: 0.1s;
}

/*BackGround*/
*{
    margin: 0;
    padding: 0;
  }
  section{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #5490eb;
    overflow: hidden;
  }
  section .air{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
    background-size: 1000px 100px
  }
  section .air.air1{
    animation: wave 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
  }
  section .air.air2{
    animation: wave2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
  }
  section .air.air3{
    animation: wave 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
  }
  section .air.air4{
    animation: wave2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
  }
  @keyframes wave{
    0%{
      background-position-x: 0px; 
    }
    100%{
      background-position-x: 1000px; 
    }
  }
  @keyframes wave2{
    0%{
      background-position-x: 0px; 
    }
    100%{
      background-position-x: -1000px; 
    }
  }

.fotoMinha{
    position: relative;
    top: -70px;
    left: 550px;
    width: 400;
}

.skillTamanho{
    max-height: 300px;
    max-width: 700px;
}
